# Node modules
node_modules/

# Environment variables
src/.env

# Build output / dist folders
src/dist/
src/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE / editor files
.vscode/
.idea/
